body{

    background-color: #F5F5F5;

}

.container{

background-color: #E9E9E9;

}

/* Cores usadas

body: #f5f5f5
button: #006A6A
button:hover: #E9E9E9

.container>background-color: #E9E9E9
header-title: #006F6F
header-subtitle: #009E9E
col-1: #006A6A
col-2: #009E9E
form-register: #006A6A

*/
